<div class="contenedor">
    <h1>{{title}}</h1>
    <form>
        <label>numero 1</label>
        <input type="number" name="numero1" [(ngModel)]="numero1">

        <label>numero 2</label>
        <input type="number" name="numero2" [(ngModel)]="numero2">

        <div class="botones">
            <input class="botonResultado" type="submit" value="sumar" (click)="sumar()">
            <input class="botonResultado" type="submit" value="restar" (click)="restar()">
            <input class="botonResultado" type="submit" value="multiplicar" (click)="multiplicar()">
            <input class="botonResultado" type="submit" value="dividir" (click)="dividir()">
        </div>
    </form>
    <p>Resultado</p>
    <p>{{resultado}}</p>
</div>
